.wrapper {
  width: calc(100% - 2 * #{$wrapper});
  max-width: 1440px;
  margin: 0 auto;
}
header {
  max-height: 600px;
  min-height: 500px;
  height: 70vh;
}
.menu input, 
.menu label, 
.menu span {
  display: none;
}

// Home Page
header.home {
  background: url("./../images/home-header.jpg") 50% 50% / cover;
  max-height: 700px;
  height: auto;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .left,
  .right {
    flex: 1 1 500px;
  }
  img {
    transform: translate($max-wrapper, 100px);
  }
}
section {
  padding: 150px 0;
}
.outer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px;

  .feature {
    flex: 1 1 500px;
    display: flex;
    padding: 20px;
  }

  i {
    display: inline-block;
    background-color: $aqua;
    border-radius: 50%;
    flex: 0 0 50px;
    font-size: rem(25px);
    line-height: 50px;
    text-align: center;
    height: 50px;
    color: $purple;
    margin-right: 20px;
    width: 50px;
  }

  h2 {
    margin-top: 0;
  }
}

.quadrant {
  padding: 0;
  background: $purple;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    div {
      flex: 1 1 500px;
    }
  }
  img {
    display: block;
  }

  .image1 {
    transform: translate(-$max-wrapper, -30px);

    img {
      box-shadow: 20px 20px $aqua;
    }
  }

  .image2 {
    transform: translate($max-wrapper, 30px);
    order: 1;
    align-self: flex-end;
    img {
      box-shadow: -20px 20px $aqua;
    }
  }
  .text1 {
    padding-left: $max-wrapper;
  }

  .text2 {
    padding-right: $max-wrapper;
    text-align: right;
  }
}
.one-column {
  text-align: center;

  h2,
  p,
  button {
    max-width: 1000px;
    margin: 20px auto;
  }
}
.divider {
  height: 400px;
  background: url("./../images/banner.jpg") 50% 50% / cover;
}
.events {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  h2 {
    margin: 0;
  }

  .left {
    flex: 1 1 333px;
    max-width: 500px;
    margin-right: 10%;
    margin-bottom: 50px;

    img {
      box-shadow: 20px 20px $aqua;
    }
  }

  .right {
    flex: 2 1 667px;
  }
}
.gallery {
  background: $purple;

  .wrapper {
    display: flex;

    div {
      margin-right: 20px;
      flex: 1 1 33.3%;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}

footer {
  background: $navy;

  p {
    margin: 0;
    padding: 10px;
    text-align: center;
  }
}

// Two column page layouts

.main-contact, .main-blog {
  display: flex;
  align-items: flex-start;
  margin: -200px auto 0;
  flex-wrap: wrap;
  justify-content: flex-end;
}

aside {
  flex: 1 1 350px;
  margin-top: 300px;
}

article, .contact {
  flex: 2 1 650px;
}

// Begin blog section
.blog {
  header {
    background: url("./../images/blog-header.jpg") 50% 50% / cover;
  }
  .main-blog {
    max-width: 1600px;;
  }
  aside {
    margin-right: 5%;

    img {
    box-shadow: 40px 20px 0 -20px $purple;
    width: calc(100% - 20px)
    }
    div {
      padding: 20px;
      background: $purple;
      margin-left: $max-wrapper;
    }
    h4 {
      margin-top: 2rem;
    }
  }
  article {
    img {
      box-shadow: -20px 20px $aqua;
      width: calc(100% - 20px);
      margin-left: auto;
    }

    div {
    border: 5px solid $aqua;
    width: calc(100% - 20px);
    padding: $max-wrapper;
    }
  }
  .comments {
    flex: 0 1 65%;

    h2 {
      margin: 50px $max-wrapper 20px;
    }
  }
  .comment { 
    display: flex;
    align-items: flex-start;
    margin: 0 $max-wrapper 50px;

    img {
      flex: 0 0 90px;
      padding-right: 20px;
    }
  }
  form {
    margin-bottom: 100px;
  }
}

// Contact Page
.contact {
  header {
    background: url("./../images/contact-header.jpg") 50% 50% / cover;
  }
  section {
    padding: 40px 20px;
    background: $purple;
    flex: 1 1 calc(65% - 20px);
    box-shadow: 20px 20px $aqua;
    margin-bottom: 100px;
    transform: translate(calc(#{$max-wrapper} - 20px));
  }
  form {
    input, textarea {
      border-color: #fff;
    }
  }
  
}